/* styles for landing page*/
.index-body {
  scroll-behavior: smooth;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.index-top,
.about-top {
  background: url("../media/welcome1.png");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 51px 0 0 0;
  height: 700px;
}
.index-infor {
  padding-top: 200px;
  width: 70%;
  color: aliceblue;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 2%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 1) 50%
  );
  height: auto;
}
.btn-proceed,
.btn-next,
.p2-next {
  color: white;
  border: 2px solid rgb(12, 12, 136);
  background-color: darkblue;
  line-height: 40px;
  width: 150px;
  font-size: larger;
  margin-bottom: 50px;
}
.wel-td {
  width: 30%;
}
.wel-table {
  width: 100%;
  margin: 200px auto 0px 0px;
  text-align: center;
}
.wel-tr {
  width: 800px;
  height: 90%;
  border: black solid 2px;
  padding: 4px;
  text-align: center;
}
.p2-next {
  margin-top: 70px;
}
.top-desc {
  text-align: center;
  margin: 50px auto;
}
.top-title {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 90px;
}
.index-middle {
  text-align: center;
  height: 700px;

  margin-bottom: 200px;
}
.index-bottom {
  text-align: center;
  height: 500px;
}
.page2-body {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
}
.index-nav {
  width: 100%;
  position: fixed;
  text-align: right;
  overflow: hidden;
  background: black;
  color: aliceblue;
  margin: 0 0 0 0;
  text-decoration: none;
  padding: 10px;
  z-index: 10;
}
.index-content {
  margin: 0px auto 0px auto;
  width: 90%;
  height: 98%;
  text-align: center;
}
.index-contacts {
  margin: 0px auto 0px auto;
  width: 90%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.index-footer {
  margin: 0px;
  height: 50%;
  width: 100%;
  background-color: rgb(3, 3, 58);
  color: white;
}
.local .international {
  text-align: center;
  width: 50%;
}
.inter,
.loc,
.mus-desc {
  margin: 50px auto;
  width: 50%;
}
.user {
  padding: 20px 0 0 50px;
  width: 100%;
  text-align: left;
}

/*for page 2*/

.p2-body {
  background: linear-gradient(30deg, #235789, #ce4bb8);
  margin: 0 0 0 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 20px;
}
.main-content {
  width: 100%;
  display: flex;
  margin: 0 0 0 0;
  height: 100%;
  padding-bottom: 100px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 70px 0 0 0;
}
.info {
  width: 100%;
  float: right;
  margin: 0 0 0 0;
  transition: 1.5s linear;
}
.row1,
.row2,
.row3 {
  margin: 0 0 -100px 0;
}
.title {
  padding: 40px;
  text-align: left;
  color: white;
  margin: 0px 0px 0px 0px;
}
.music {
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.song {
  border-radius: 10px;
  width: 200px;
  height: 280px;
  background-color: black;
  padding: 10px;
  transition: all 0.3s;
}
.song:hover {
  transform: scale(1.2);
  z-index: 1;
}
.song-info {
  margin: 0px;
  background-color: black;
  color: white;
  text-align: justify;
}
.song-title {
  color: white;
  text-align: center;
}
.buttons {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%;
}
/*code for about*/
.about-body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
}
.school {
  width: 50%;
}
/* code using element selector */
audio {
  width: 100%;
  background-color: white;
  height: 20px;
}
a {
  text-decoration: none;
  padding-left: 10px;
}
img {
  border-radius: 10px;
  margin-bottom: 0;
  width: 100%;
}
ol {
  text-decoration: none;
  margin-right: 40px;
}
li {
  display: inline;
}
a:visited {
  color: yellow;
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 0.3s linear;
}
button:hover {
  transition: all 0.3s linear;
}
